In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
data = {'birds':['bng', 'For', 'del', 'is', 'portal'],
      'age':[5,6,8,3.3,np.nan],
      'visits':[5,7,7,7,19],
      'priority':['Yes','No','Yes','Yes','No']}

In [4]:
labels=['a','b','c','d','e']

In [5]:
data1=pd.DataFrame.from_dict(data)

In [6]:
data1

    birds  age  visits priority
0     bng  5.0       5      Yes
1     For  6.0       7       No
2     del  8.0       7      Yes
3      is  3.3       7      Yes
4  portal  NaN      19       No

In [7]:
data1.shape

(5, 4)

In [15]:
a=data1[:,-1]

TypeError: unhashable type: 'slice'

In [8]:
y=data1[['birds','age']]

In [9]:
y

    birds  age
0     bng  5.0
1     For  6.0
2     del  8.0
3      is  3.3
4  portal  NaN

In [10]:
data1.index=labels

In [19]:
data1

    birds  age  visits priority
a     bng  5.0       5      Yes
b     For  6.0       7       No
c     del  8.0       7      Yes
d      is  3.3       7      Yes
e  portal  NaN      19       No

In [11]:
data1['visits'].describe()

count     5.000000
mean      9.000000
std       5.656854
min       5.000000
25%       7.000000
50%       7.000000
75%       7.000000
max      19.000000
Name: visits, dtype: float64

In [12]:
data1['age'].describe()

count    4.000000
mean     5.575000
std      1.963628
min      3.300000
25%      4.575000
50%      5.500000
75%      6.500000
max      8.000000
Name: age, dtype: float64

In [13]:
data1.count(axis=1)

a    4
b    4
c    4
d    4
e    3
dtype: int64

In [14]:
data1.count(axis=0)

birds       5
age         4
visits      5
priority    5
dtype: int64

In [15]:
for i in data1.columns:
    print(i)

birds
age
visits
priority

In [16]:
data1['age'].unique()

array([5. , 6. , 8. , 3.3, nan])

In [18]:
data2 =[(data1['age']>2)]

In [49]:
data1

    birds     age visits priority
a     bng       5      5      Yes
b     For       6      7       No
c     del       8      7      Yes
d      is     3.3      7      Yes
e  portal  np.nan     19       No

In [27]:
data2

[a     True
 b     True
 c     True
 d     True
 e    False
 Name: age, dtype: bool]

In [19]:
data1.age

a    5.0
b    6.0
c    8.0
d    3.3
e    NaN
Name: age, dtype: float64

In [21]:
type(data1['visits'])

pandas.core.series.Series

In [25]:
data1['new']=data1['age']+data1['visits']

In [30]:
data1

    birds  age  visits priority   new
a     bng  5.0       5      Yes  10.0
b     For  6.0       7       No  13.0
c     del  8.0       7      Yes  15.0
d      is  3.3       7      Yes  10.3
e  portal  NaN      19       No   NaN

In [28]:
data1.drop('new',axis=1)

    birds  age  visits priority
a     bng  5.0       5      Yes
b     For  6.0       7       No
c     del  8.0       7      Yes
d      is  3.3       7      Yes
e  portal  NaN      19       No

In [29]:
data1.drop('d',axis=0)

    birds  age  visits priority   new
a     bng  5.0       5      Yes  10.0
b     For  6.0       7       No  13.0
c     del  8.0       7      Yes  15.0
e  portal  NaN      19       No   NaN

In [31]:
data1

    birds  age  visits priority   new
a     bng  5.0       5      Yes  10.0
b     For  6.0       7       No  13.0
c     del  8.0       7      Yes  15.0
d      is  3.3       7      Yes  10.3
e  portal  NaN      19       No   NaN

In [32]:
data1>0

   birds    age  visits  priority    new
a   True   True    True      True   True
b   True   True    True      True   True
c   True   True    True      True   True
d   True   True    True      True   True
e   True  False    True      True  False

In [33]:
data1<1

   birds    age  visits  priority    new
a   True  False   False      True  False
b   True  False   False      True  False
c   True  False   False      True  False
d   True  False   False      True  False
e   True  False   False      True  False

In [35]:
data1[data1>0]

    birds  age  visits priority   new
a     bng  5.0       5      Yes  10.0
b     For  6.0       7       No  13.0
c     del  8.0       7      Yes  15.0
d      is  3.3       7      Yes  10.3
e  portal  NaN      19       No   NaN

In [37]:
type(data1)

pandas.core.frame.DataFrame

In [38]:
data1>0

   birds    age  visits  priority    new
a   True   True    True      True   True
b   True   True    True      True   True
c   True   True    True      True   True
d   True   True    True      True   True
e   True  False    True      True  False

In [41]:
data1[data1['age']>5]

  birds  age  visits priority   new
b   For  6.0       7       No  13.0
c   del  8.0       7      Yes  15.0

In [42]:
data1[data1['age']<5]

  birds  age  visits priority   new
d    is  3.3       7      Yes  10.3

In [48]:
data1[(data1['age']>0) & (data1['age']<5)]

  birds  age  visits priority   new
d    is  3.3       7      Yes  10.3