In [1]:
import pandas as pd

In [2]:
import numpy as np

In [5]:
a=pd.read_csv("data1.csv")

In [27]:
a

     age  year  nodes  status
0     30    64      1       1
1     30    62      3       1
2     30    65      0       1
3     31    59      2       1
4     31    65      4       1
5     33    58     10       1
6     33    60      0       1
7     34    59      0       2
8     34    66      9       2
9     34    58     30       1
10    34    60      1       1
11    34    61     10       1
12    34    67      7       1
13    34    60      0       1
14    35    64     13       1
15    35    63      0       1
16    36    60      1       1
17    36    69      0       1
18    37    60      0       1
19    37    63      0       1
20    37    58      0       1
21    37    59      6       1
22    37    60     15       1
23    37    63      0       1
24    38    69     21       2
25    38    59      2       1
26    38    60      0       1
27    38    60      0       1
28    38    62      3       1
29    38    64      1       1
..   ...   ...    ...     ...
276   67    66      0       1
277   67    61      0       1
278   67    65      0       1
279   68    67      0       1
280   68    68      0       1
281   69    67      8       2
282   69    60      0       1
283   69    65      0       1
284   69    66      0       1
285   70    58      0       2
286   70    58      4       2
287   70    66     14       1
288   70    67      0       1
289   70    68      0       1
290   70    59      8       1
291   70    63      0       1
292   71    68      2       1
293   72    63      0       2
294   72    58      0       1
295   72    64      0       1
296   72    67      3       1
297   73    62      0       1
298   73    68      0       1
299   74    65      3       2
300   74    63      0       1
301   75    62      1       1
302   76    67      0       1
303   77    65      3       1
304   78    65      1       2
305   83    58      2       2

[306 rows x 4 columns]

In [30]:
data.head()

0    30
1    30
2    30
3    31
4    31
Name: age, dtype: int64

In [31]:
data=a['age','nodes']

KeyError: ('age', 'nodes')

In [25]:
data

0      30
1      30
2      30
3      31
4      31
5      33
6      33
7      34
8      34
9      34
10     34
11     34
12     34
13     34
14     35
15     35
16     36
17     36
18     37
19     37
20     37
21     37
22     37
23     37
24     38
25     38
26     38
27     38
28     38
29     38
       ..
276    67
277    67
278    67
279    68
280    68
281    69
282    69
283    69
284    69
285    70
286    70
287    70
288    70
289    70
290    70
291    70
292    71
293    72
294    72
295    72
296    72
297    73
298    73
299    74
300    74
301    75
302    76
303    77
304    78
305    83
Name: age, Length: 306, dtype: int64

In [9]:
x=a.iloc[:,:]

In [10]:
x

     age  year  nodes  status
0     30    64      1       1
1     30    62      3       1
2     30    65      0       1
3     31    59      2       1
4     31    65      4       1
5     33    58     10       1
6     33    60      0       1
7     34    59      0       2
8     34    66      9       2
9     34    58     30       1
10    34    60      1       1
11    34    61     10       1
12    34    67      7       1
13    34    60      0       1
14    35    64     13       1
15    35    63      0       1
16    36    60      1       1
17    36    69      0       1
18    37    60      0       1
19    37    63      0       1
20    37    58      0       1
21    37    59      6       1
22    37    60     15       1
23    37    63      0       1
24    38    69     21       2
25    38    59      2       1
26    38    60      0       1
27    38    60      0       1
28    38    62      3       1
29    38    64      1       1
..   ...   ...    ...     ...
276   67    66      0       1
277   67    61      0       1
278   67    65      0       1
279   68    67      0       1
280   68    68      0       1
281   69    67      8       2
282   69    60      0       1
283   69    65      0       1
284   69    66      0       1
285   70    58      0       2
286   70    58      4       2
287   70    66     14       1
288   70    67      0       1
289   70    68      0       1
290   70    59      8       1
291   70    63      0       1
292   71    68      2       1
293   72    63      0       2
294   72    58      0       1
295   72    64      0       1
296   72    67      3       1
297   73    62      0       1
298   73    68      0       1
299   74    65      3       2
300   74    63      0       1
301   75    62      1       1
302   76    67      0       1
303   77    65      3       1
304   78    65      1       2
305   83    58      2       2

[306 rows x 4 columns]

In [11]:
y=a.iloc[:,1:2]

In [12]:
y

     year
0      64
1      62
2      65
3      59
4      65
5      58
6      60
7      59
8      66
9      58
10     60
11     61
12     67
13     60
14     64
15     63
16     60
17     69
18     60
19     63
20     58
21     59
22     60
23     63
24     69
25     59
26     60
27     60
28     62
29     64
..    ...
276    66
277    61
278    65
279    67
280    68
281    67
282    60
283    65
284    66
285    58
286    58
287    66
288    67
289    68
290    59
291    63
292    68
293    63
294    58
295    64
296    67
297    62
298    68
299    65
300    63
301    62
302    67
303    65
304    65
305    58

[306 rows x 1 columns]

In [13]:
y=a.iloc[:,0:1]

In [14]:
y

     age
0     30
1     30
2     30
3     31
4     31
5     33
6     33
7     34
8     34
9     34
10    34
11    34
12    34
13    34
14    35
15    35
16    36
17    36
18    37
19    37
20    37
21    37
22    37
23    37
24    38
25    38
26    38
27    38
28    38
29    38
..   ...
276   67
277   67
278   67
279   68
280   68
281   69
282   69
283   69
284   69
285   70
286   70
287   70
288   70
289   70
290   70
291   70
292   71
293   72
294   72
295   72
296   72
297   73
298   73
299   74
300   74
301   75
302   76
303   77
304   78
305   83

[306 rows x 1 columns]

In [15]:
y=a.iloc[:,0:2]

In [16]:
y

     age  year
0     30    64
1     30    62
2     30    65
3     31    59
4     31    65
5     33    58
6     33    60
7     34    59
8     34    66
9     34    58
10    34    60
11    34    61
12    34    67
13    34    60
14    35    64
15    35    63
16    36    60
17    36    69
18    37    60
19    37    63
20    37    58
21    37    59
22    37    60
23    37    63
24    38    69
25    38    59
26    38    60
27    38    60
28    38    62
29    38    64
..   ...   ...
276   67    66
277   67    61
278   67    65
279   68    67
280   68    68
281   69    67
282   69    60
283   69    65
284   69    66
285   70    58
286   70    58
287   70    66
288   70    67
289   70    68
290   70    59
291   70    63
292   71    68
293   72    63
294   72    58
295   72    64
296   72    67
297   73    62
298   73    68
299   74    65
300   74    63
301   75    62
302   76    67
303   77    65
304   78    65
305   83    58

[306 rows x 2 columns]

In [17]:
y=a.iloc[:,2:2]

In [18]:
y

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[306 rows x 0 columns]

In [19]:
y=a.iloc["age","nodes"]

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

In [21]:
y=a['age','nodes']

KeyError: ('age', 'nodes')

In [22]:
y=a['age','nodes']

KeyError: ('age', 'nodes')

In [32]:
data.shape()

TypeError: 'tuple' object is not callable

In [33]:
a.shape()

TypeError: 'tuple' object is not callable

In [34]:
data.shape()

TypeError: 'tuple' object is not callable